<img src="/images/elixir.png" style="width:250px;height:250px">
<form action="/">
  <h1 style="color:rgb(119, 94, 137">ExRTC</h1>
  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" type="text" name="room"
     placeholder="Enter a room name">
  </div>
  <button type="submit" class="mdl-button mdl-js-button mdl-button--raised
  mdl-button--accent" style="background-color: rgb(119, 94, 137)">
    JOIN
  </button>
</form>
